$main-color: #fe5b5f;
$main-color-light: #ff8a8c;

.container {
    padding-block: 3rem;
    width: 90%;
    margin: 0 auto;
}
.small-container {
    padding-block: 3rem;
    width: 70%;
    margin: 0 auto;
}

